:root {
  --primary-color: #2b5876;
  --secondary-color: #4e4376;
  --weak-color: #fc8181;
  --medium-color: #fbd38d;
  --strong-color: #68d391;
}

* {
  box-sizing: 0;
  padding: 0;
  margin: 0;
}
body {background: linear-gradient(
    90deg, var(--primary-color), var(--secondary-color));background-color: var(--primary-color);
  color: #333;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}
.content {
  background-color: white;
  padding: 30px;
  border-radius: 20px;
  width: 90%;
  max-width: 450px;
}
.param1 {
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  margin: 10px 5px;
  color: var(--primary-color);
  padding-bottom: 5px;
  position: relative;
}
.param1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 40%;
  transform: translateX(-50%);
  height: 3px;
  border-radius: 2px;
  background: linear-gradient(
    90deg, var(--primary-color), var(--secondary-color));
} 
.inputfield {
  background-color: whitesmoke;
  border-radius: 10px;
  padding: 8px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.inputfield input {
  padding: 4px 5px;
  outline: none;
  border: none;
  letter-spacing: 1px;
  width: 100%;
  background-color: transparent;
  color: #4a5568;
}
.inputfield input[type="range"] {
    accent-color: var(--primary-color);
    height: 5px;
    cursor: pointer;

}
.section2 {
  margin-top: 20px;
  background-color: whitesmoke;
  border-radius: 10px;
  padding: 20px;
}
.password-range {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}
.label1 {
  font-size: 18px;
  font-weight: 500;
}
.range {
  align-items: center;
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}
.checkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}
.checkbox input[type='checkbox']{
    width: 20px;
    height: 20px;
    border: 2px solid var(--primary-color) ;
    /* appearance: none; */
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    position: relative;
    transition: all 0.3s;
}
.checkbox input[type='checkbox']:checked{
    background-color: var(--primary-color);
}
.checkbox input[type='checkbox']:checked::after{
    content:\2714 ;
    position: absolute;
    color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
}
.butt {
  width: 100%;
  background-color: var(--primary-color);
  padding: 10px;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 500;
  color: white;
  border: none;
  outline: none;
  border-radius: 10px;
}
.password-strength {
  /* display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column; */
  margin-top: 10px;

  padding: 5px 10px;
  background-color: whitesmoke;
  border-radius: 20px;
  
}
.password {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.password span{
    color: var(--primary-color);
    font-weight: 600;
}
.color {
  height: 10px;
  background-color: #e3eef9;
  border-radius: 5px;
  margin-top: 0.5rem;
  overflow: hidden;
}
.color-password{
    height: 100px;
    width: 10%;
    min-height: 5%;
    background-color: var(--weak-color);
    transition: width 0.3s ease;
}
/* .color-password {
  height: 10px;
  width: 100px;
  border-radius: 5px;
} */

.color-password.weak {
  background-color: var(--weak-color);
}

.color-password.medium {
  background-color: var(--medium-color);
}

.color-password.strong {
  background-color: var(--strong-color);
}

